<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key></key>
	<string></string>
	<key>NSHealthClinicalHealthRecordsShareUsageDescription</key>
	<string>NSHealthClinicalHealthRecordsShareUsageDescription</string>
	<key>NSHealthShareUsageDescription</key>
	<string>NSHealthShareUsageDescription</string>
	<key>NSHealthUpdateUsageDescription</key>
	<string>NSHealthUpdateUsageDescription</string>
	<key>UIAppFonts</key>
	<array>
		<string>AppleSDGothicNeoR.ttf</string>
		<string>AppleSDGothicNeoM.ttf</string>
		<string>AppleSDGothicNeoSB.ttf</string>
	</array>
</dict>
</plist>
